<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo" href="#">
        <img class="logo__img" src="images/logo.svg" alt="logo">
      </a>
      <p class="header__descr">
        Notranja in zunanja slikopleskarska dela že več kot <span>40 let</span>
      </p>
      <ul class="menu__list">
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Storitve</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link menu__list--current">Reference</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Koristne informacije</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">O podjetju</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Kontakt</a>
        </li>
      </ul>
      <div class="header__info">
        <a class="header__info-phone" href="tel:041625519">041 625 519</a>
        <a class="header__info-email" href="mailto:info@slikopleskarstvo-habat.si">info@slikopleskarstvo-habat.si</a>
        <a class="header__info-request" href="#">Pošlji povpraševanje</a>
      </div>
    </div>
  </div>
</header>